* {
  margin: 0%;
  padding: 0%;
}

@media (min-width:1024px) {
  #firstDiv {
    background-color: white;
  }

  .header {
    background-color: rgb(3, 1, 26);
    height: 65px;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1000
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #box {
    height: 40px;
    margin-top: 10px;
    width: 40%;
    outline: none;
    padding-left: 9px;
    border-radius: 9px 0px 0px 9px;
    border: none;
  }

  #icon {
    color: rgb(1, 5, 27);
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    height: 40px;
    margin-top: 10px;
    width: 40px;
    padding-left: 9px;
    border-radius: 0px 9px 9px 0px;
    cursor: pointer;
  }

  #logo {
    position: absolute;
    left: 9px;
    top: 0px;
    height: 70px;
    width: 70px;
  }

  #title {
    color: white;
    position: absolute;
    left: 9px;
    top: 65%;
    font-size: 11px;
  }

  .main_con {
    position: relative;
    position: absolute;
    right: 30px;
    top: 9px;
    height: 300px;
  }

  #ul {
    display: flex;
    gap: 19px;
    color: white;
    list-style: none;
    position: absolute;
    right: 2px;
    margin-top: 13px;
    cursor: pointer;
  }


  #option {
    display: none;
    color: white;
    list-style: none;
    position: absolute;
    right: 0px;
    top: 0%;
    background-color: rgb(2, 0, 22);
    width: 180px;
    border-radius: 9px;
    /* margin-top: 56px; */
  }

  .li {
    position: relative;
    height: 100%;
    margin-top: 9%;
    margin-bottom: 9px;
    padding-left: 12%;
    cursor: pointer;
  }

  .li:hover {
    background-color: rgb(230, 227, 227);
    color: rgb(80, 80, 80);
  }



  .main_con:hover #option {
    display: block;
  }

  #text {
    color: green;
    text-align: center;
    text-shadow: 0.9px 0.9px 0.3px black;
    font-family: arial black;
    margin-top: 5%;
  }

  .main_body {
    display: flex;
    /* Sab kuch horizontal karne ke liye */
    flex-wrap: wrap;
    /* Agar screen choti ho toh items niche aa jayein */
    gap: 20px;
    /* Items ke beech ka gap */
    padding: 20px;
    justify-content: flex-start;
    /* Items ko left side se align karega */
  }

  .item_contan {
    height: 430px;
    border: 0.9px solid rgb(129, 129, 129);
    width: 300px;
    margin-top: 9px;
  }

  .item_contan:hover {
    background-color: #dddddd;
    border: 0.9px solid rgb(255, 255, 255);
    box-shadow: 0.3px 0.3px 9px rgb(0, 0, 0);
    border-radius: 9px;
  }

  .imageDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #image {
    height: 230px;
    position: relative;
    display: inline;
  }

  #name {
    height: 30px;
    display: inline;
    padding: 9px;
    border-radius: 9px;
    font-family: arial black;
    /* box-shadow: 3px 3px 3px rgb(105, 105, 105); */
    margin-left: 9px;
  }

  #price {
    height: 30px;
    display: inline;
    padding: 9px;
    border-radius: 9px;
    font-family: arial black;
    /* box-shadow: 3px 3px 3px rgb(105, 105, 105); */
    margin-left: 9px;
  }

  #front {
    width: 100%;
    height: 90vh;
    margin-top: 65px;
    opacity: 1;
  }

  .imageTitleDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #imageTitle {
    color: white;
    position: absolute;
    top: 35%;
    z-index: 100;
    font-family: arial black;
    font-size: 45px;
    text-shadow: 6px 6px 6px black;
  }

  #imageTitle2 {
    text-shadow: 6px 6px 6px black;
    font-size: 35px;
    font-family: arial black;
    color: white;
    position: absolute;
    top: 43%;
    z-index: 100;
  }

  .imagep {
    text-shadow: 6px 6px 6px black;
    font-size: 20px;
    font-family: arial black;
    color: white;
    position: absolute;
    top: 50%;
    z-index: 100;
  }

  .imagepp {
    text-shadow: 6px 6px 6px black;
    font-size: 20px;
    font-family: arial black;
    color: white;
    position: absolute;
    top: 54%;
    z-index: 100;
  }

  .btn {
    text-shadow: 0.9px 0.9px 6px black;
    font-size: 20px;
    font-family: arial black;
    color: white;
    position: absolute;
    top: 60%;
    z-index: 100;
    background-color: green;
    border-radius: 99px;
    height: 30px;
    width: 240px;
    padding: 9px;
    padding-left: 3%;
  }

  .about {
    color: rgb(255, 255, 255);
    text-shadow: 0.9px 0.9px 3px black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 5%;

  }

  #about {
    font-family: arial black;
    /* box-shadow: 3px 3px 1px black;. */
    padding: 5px;
    border-radius: 9px;
    color: white;
    text-shadow: 0.9px 0.9px 9px black;
    text-align: center;
  }

  #textAbout {
    margin-top: 9px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    margin-bottom: 4%;
    display: flex;
    font-size: 29px;
    /* border: 0.9px solid black; */
    gap: 9px;
  }

  #foot {
    width: 100%;
    height: 3%;
  }

  .footer {
    background-color: black;
    height: 250px;
    width: 100%;
    color: green;
    font-family: arial black;
    margin-top: 70px;

  }

  span {
    color: white;
  }

  .footerItem {
    margin: 9px;
    font-size: 19px;
  }

  .fetch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    color: green;
  }

  .messDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 210px;
    color: rgb(0, 0, 0);
    font-size: 6px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #comp {
    height: 90px;
    width: 90px;
  }

  .company {
    display: flex;
    font-family: arial black;
    /* box-shadow: 3px 3px 10px black; */
    background-color: #ffffff;
    padding: 5px;
    border-radius: 9px;
    color: white;
    text-shadow: 0.9px 0.9px 3px black;
    text-align: center;
    align-items: center;
    justify-content: center;
  }


  .shri {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-shadow: 0.9px 0.9px 3px rgb(255, 255, 255);
  }

  #shri{
    text-align: center;
  }
  #textimage {
    height: 470px;
    width: 400px;
    border-radius: 9px;
  }

  #stop {
    margin: 5%;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 3px rgb(255, 255, 255);
    background-color: #ffffff;
    box-shadow: 0.3px 0.3px 3px black;
    font-size: 29px;
    font-family: arial black;
  }

  .slideDiv {
    position: relative;
    margin: 5%;

  }

  .sliderChild::-webkit-scrollbar {
    display: none;
  }

  .sliderChild {
    display: flex;
    overflow-x: auto;
    /* scroll-snap-type:x mandatory; */
    gap: 30px;
    overflow-x: auto;
    -ms-overflow-style: none;
    /* IE/Edge */
    scrollbar-width: none;
    background-color: #01001d;
    padding: 3%;
    border-radius: 9px;
  }

  .sliderChild img {
    scroll-snap-align: start;
    object-fit: cover;
    border-radius: 9px;
    height: 300px;
    width: 100%;

  }

  .slide {
    background-color: rgb(145, 145, 145);

  }



  #key {
    width: 400px;
    animation-name: slide;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    overflow: hidden;
  }

  #road {
    margin-top: -2.5%;
    box-shadow: 3px 3px 3px black;

  }

  @keyframes slide {
    0% {
      /* transform: translateX(0);  */

      left: -59%;
    }

    100% {
      /* transform: translateX(100vw);  */
      left: 100%;
    }
  }

  #manu {
    color: #15ff00;
    text-shadow: 0.3px 0.3px 3px white;
    font-family: 'arial black';
    font-size: 29px;
    animation-name: manu;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }

  #bus {
    color: #008a1e;
    font-family: 'arial black';
    font-size: 29px;

  }

  #about {
    font-family: 'arial black';
    /* box-shadow: 3px 3px 1px black;. */
    padding: 5px;
    border-radius: 9px;
    color: rgb(0, 0, 0);
    text-shadow: 0.9px 0.9px 9px rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
    box-shadow: 0.3px 0.3px 9px rgb(0, 0, 0);
    margin: 3%;
    margin-top: 5%;
    background-color: #ffffff;
    font-size: 20px;

  }



  #fq {
    text-align: center;
    margin-top: 9px;
  }

  summary {
    background-color: rgb(3, 1, 26);
    color: white;
    font-size: 13px;
    margin-top: 1%;
    height: 30px;
    padding-top: 15px;
    padding-left: 5px;
    border-radius: 9px;
  }

  summary:hover {
    background-color: rgb(6, 1, 54);

  }

  #detail {
    border-radius: 9px;
    box-shadow: 3px 3px 9px white;
    text-shadow: 0.3px 0.3px 3px white;
  }

  #book {
    color: white;
    margin-left: 6%;
    padding-top: 5%;
    font-family: arial black;
    margin-top: 5%;
    font-size: 50px;
  }

  #test {
    color: white;
    padding: 0%;
    font-size: 20px;
    margin-left: 6%;


  }

  .a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 9px;
  }

  a {
    text-decoration: none;
    color: white;
    background-color: #01001d;
    padding: 9px;
    border-radius: 9px;
  }

  #sideImage {
    display: block;
    position: absolute;
    right: -8%;
    top: 600px;
  }

  .socialf {
    color: blue;
    padding-top: 9px;

  }

  .socialt {
    color: rgb(0, 204, 255);
    padding-top: 9px;

  }

  .sociali {
    color: rgb(255, 0, 179);
    padding-top: 9px;
  }


  .media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 5%;
    margin: 5%;
    border-radius: 99px;

  }

  .radiusDiv {
    height: 500px;
    width: 100%;
    background-color: rgb(3, 1, 26);
    border-radius: 50px 0px 50px 0;
    margin-top: 9%;
  }

  #go {
    font-family: 'Orbitron', sans-serif;
    padding: 5px;
    border-radius: 9px;
    color: rgb(0, 0, 0);
    text-shadow: 0.9px 0.9px 9px rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    box-shadow: 0.3px 0.3px 9px rgb(0, 0, 0);
    margin: 3%;
    margin-top: 5%;
  }


  body::-webkit-scrollbar {
    display: none;
  }

  #foot {
    height: 400px;
    border-radius: 9px;
  }

  #evPrice {
    text-align: center;
    font-family: arial black;

  }

  #zoomPrice {
    color: green;
    animation: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: inline-block
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      color: yellow;
    }

    50% {
      transform: scale(1.3);
      font-size: 15px;
      color: green;
    }

    100% {
      transform: scale(1);
      color: red;
    }
  }


  .india {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9%;
    font-family: arial black;
    font-size: 19px;
  }

  #i {
    color: orange;
    animation-name: ind;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #n {
    color: rgb(255, 255, 255);
    text-shadow: 0.3px 0.3px 2px black;
    animation-name: ind;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #d {
    color: green;
    animation-name: ind;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #nameM {
    color: #01001d;
    margin-left: 9px;

  }

  #price {
    border-radius: 9px;
    font-family: arial black;
    margin-left: 9px;
    color: #008a1e;

    animation-name: price;
    animation-duration: 2s;
    animation-iteration-count: infinite;

  }

  @keyframes price {
    0% {
      font-size: 15px;
      color: green;

    }

    50% {
      font-size: 15.5px;
      color: yellow;
    }

    100% {
      font-size: 16px;
      color: red;

    }
  }

  #desc {
    margin-left: 9px;

  }

  #keyS {
    margin-left: 9px;

  }

  #des {
    color: red;
  }


  #emi {
    font-family: arial black;
    margin-left: px;
    color: #01001d;
  }


    .workContact {
    margin-top: 6%;
    padding-left: 3%;
  }

  #workName {
    font-size: 11px;
    font-family: arial black;
    /* padding-top: 5%; */
  }

  #workRole {
    font-size: 11px;
    font-family: arial black;
    padding-top: 3%;

  }

  #workPhone {
    font-size: 11px;
    font-family: arial black;
    padding-top: 3%;

  }
    #workDel {
    font-size: 11px;
    font-family: arial black;
    padding-top: 3%;
    color: #008a1e;
  }

  #chan {
    color: #030222;
    font-size: 13px;
    font-family: arial black;

  }

  .sale {
    display: flex;
  }

  .worker {
    /* margin-top: 5%; */
    /* display: inline-flex; */
    align-items: center;
    justify-content: center;
    gap: 19px;
  }

  #work {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0.3px 0.3px 9px black;
    margin-top: 5%;

  }

  #work:hover {
    box-shadow: 0.3px 0.3px 3px black;
  }

#team{
  text-align: center;
  margin-top: 5%;
  font-size: 40px;
  font-family: arial black;
}


}


/* ------------------------------------------------------------------------------ */

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;

}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-form {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #040657;
  font-family: arial black;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.login-form button {
  padding: 10px;
  background-color: #050c47;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.login-form button:hover {
  background-color: #0056b3;

}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.signup-form {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
  font-family: arial black;
  color: #040657;

}

.signup-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.signup-form button {
  padding: 10px;
  background-color: #050c47;
  /* Signup ke liye Blue color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.signup-form button:hover {
  background-color: #0056b3;
}

.login-link {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.login-link a {
  text-decoration: none;
}

#navLogin {
  color: #050c47;
  cursor: pointer;
}

#error{
  color: rgb(223, 82, 82);
  text-align: center;
}
/* ------------------------------------------------------------------------------ */


@media (max-width:1024px) {

  .workContact {
    margin-top: 9%;
    padding-left: 3%;
  }

  #workName {
    font-size: 11px;
    font-family: arial black;
    /* padding-top: 5%; */
  }

  #workRole {
    font-size: 11px;
    font-family: arial black;
    padding-top: 3%;

  }

  #workPhone {
    font-size: 11px;
    font-family: arial black;
    padding-top: 3%;

  }
    #workDel {
    font-size: 11px;
    font-family: arial black;
    padding-top: 3%;
    color: #008a1e;
  }

  #chan {
    color: #030222;
    font-size: 13px;
    font-family: arial black;

  }

  .sale {
    display: flex;
  }

  .worker {
    margin-top: 5%;
    /* display: inline-flex; */
    align-items: center;
    justify-content: center;
    gap: 19px;
  }

  #work {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0.3px 0.3px 9px black;
    margin-top: 5%;

  }

  #work:hover {
    box-shadow: 0.3px 0.3px 3px black;
  }

  #team {
    margin-top: 5%;

    text-align: center;
    font-family: arial black;
  }

  #zoomPrice {
    color: green;
    animation: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: inline-block
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      color: yellow;
    }

    50% {
      transform: scale(1.3);
      font-size: 15px;
      color: green;
    }

    100% {
      transform: scale(1);
      color: red;
    }
  }

  #evPrice {
    text-align: center;
    font-family: arial black;
  }

  #foot {
    height: 400px;
    border-radius: 9px;
  }

  #sideImage {
    display: none;
  }


  .a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 9px;
  }

  a {
    text-decoration: none;
    color: white;
    background-color: rgb(3, 1, 26);
    padding: 9px;
    border-radius: 9px;
  }


  #fq {
    text-align: center;
    margin-top: 9px;
  }

  summary {
    background-color: rgb(3, 1, 26);
    color: white;
    font-size: 13px;
    margin-top: 4%;
    height: 30px;
    padding-top: 15px;
    padding-left: 5px;
    border-radius: 9px;
  }

  #detail {
    border-radius: 9px;
    box-shadow: 3px 3px 9px white;
    text-shadow: 0.3px 0.3px 3px white;
  }

  #book {
    color: white;
    margin-left: 7%;
    padding-top: 18%;
    font-family: arial black;
  }

  #test {
    color: white;
    margin-left: 7%;
    padding-top: 9%;
  }

  .socialf {
    color: blue;
    padding-top: 9px;

  }

  .socialt {
    color: rgb(0, 204, 255);
    padding-top: 9px;

  }

  .sociali {
    color: rgb(255, 0, 179);
    padding-top: 9px;
  }


  .media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 5%;
    margin: 5%;
    border-radius: 99px;
  }

  .radiusDiv {
    height: 500px;
    width: 100%;
    background-color: rgb(3, 1, 26);
    border-radius: 50px 0px 50px 0;
    margin-top: 9%;
  }

  .slideDiv {
    position: relative;
    margin: 5%;
  }

  .sliderChild {
    display: flex;
    overflow-x: auto;
    /* scroll-snap-type:x mandatory; */
    gap: 30px;
    padding: 3%;
    background-color: #01001d;
    border-radius: 9px;
  }

  .sliderChild img {
    scroll-snap-align: start;
    object-fit: cover;
    border-radius: 9px;
    height: 300px;
    width: 100%;

  }

  .slide {
    background-color: rgb(145, 145, 145);

  }



  #manu {
    color: black;
    text-shadow: 0.3px 0.3px 3px white;
    font-family: 'arial black';
    font-size: 14px;
    animation-name: manu;
    animation-duration: 3s;
    animation-iteration-count: 1;
    color: #15ff00;

  }






  #key {
    width: 200px;
    animation-name: slide;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    overflow: hidden;
  }

  #road {
    margin-top: -5%;
    box-shadow: 3px 3px 3px black;

  }

  .india {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9%;
    font-family: arial black;
    font-size: 13px;
  }

  #i {
    color: orange;
    animation-name: ind;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #n {
    color: rgb(255, 255, 255);
    text-shadow: 0.3px 0.3px 2px black;
    animation-name: ind;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  #d {
    color: green;
    animation-name: ind;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  /* @keyframes ind {
    0% {
      font-size: 30px;
    }

    50% {
      font-size: 35px;

    }

    100% {
      font-size: 30px;

    }
  } */
  @keyframes slide {
    0% {
      /* transform: translateX(0);  */

      left: -59%;
    }

    100% {
      /* transform: translateX(100vw);  */
      left: 100%;
    }
  }

  #bus {
    color: #008a1e;

  }


  #stop {
    margin: 5%;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 3px rgb(255, 255, 255);
    background-color: #ffffff;
    box-shadow: 0.3px 0.3px 3px black;

  }

  .about {
    color: rgb(255, 255, 255);
    text-shadow: 0.9px 0.9px 3px black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 5%;

  }

  #about {
    font-family: 'arial black';
    padding: 5px;
    border-radius: 9px;
    color: rgb(0, 0, 0);
    text-shadow: 0.9px 0.9px 9px rgb(255, 255, 255);
    text-align: center;
    font-size: 13px;
    box-shadow: 0.3px 0.3px 9px rgb(61, 61, 61);
    margin: 3%;
    margin-top: 5%;
    background-color: #ffffff;
  }


  #go {
    font-family: 'Orbitron', sans-serif;
    padding: 5px;
    border-radius: 9px;
    color: rgb(0, 0, 0);
    text-shadow: 0.9px 0.9px 9px rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    box-shadow: 0.3px 0.3px 9px rgb(0, 0, 0);
    margin: 3%;
    margin-top: 5%;
  }

  #textAbout {
    margin-top: 9px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    margin-bottom: 4%;
    /* display: flex; */
    font-size: 29px;
    /* border: 0.9px solid black; */
    gap: 9px;
  }

  #foot {
    width: 100%;
    height: 3%;
  }

  .footer {
    background-color: black;
    height: 250px;
    width: 100%;
    color: green;
    font-family: arial black;
    margin-top: 30px;

  }

  /* ------------------------------ */
  span {
    color: white;
  }

  .footerItem {
    margin: 9px;
    font-size: 15px;
    padding-top: 5%;
  }

  .fetch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    color: green;
    font-size: 13px;
  }

  .messDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    color: rgb(0, 0, 0);
    font-size: 4px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #comp {
    height: 90px;
    width: 90px;
  }

  .company {
    display: flex;
    font-family: arial black;
    /* box-shadow: 3px 3px 10px black; */
    background-color: #ffffff;
    padding: 5px;
    border-radius: 9px;
    color: white;
    text-shadow: 0.9px 0.9px 3px black;
    text-align: center;
  }

  .shri {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-shadow: 0.9px 0.9px 3px rgb(255, 255, 255);
    font-size: 12px;
  }

  #textimage {
    height: 370px;
    width: 300px;
    border-radius: 9px;
    box-shadow: 0.3px 0.3px 9px black;
  }






























  /*  */




  #firstDiv {
    background-color: white;
  }

  .header {
    background-color: rgb(3, 1, 26);
    height: 65px;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 1000
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #box {
    height: 35px;
    margin-top: 15px;
    width: 40%;
    outline: none;
    padding-left: 9px;
    border-radius: 9px 0px 0px 9px;
    border: none;
  }

  #icon {
    color: rgb(3, 10, 49);
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    height: 35px;
    margin-top: 15px;
    width: 40px;
    padding-left: 9px;
    border-radius: 0px 9px 9px 0px;
    cursor: pointer;
  }

  #logo {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 60px;
    width: 60px;
  }

  #title {
    color: white;
    position: absolute;
    left: 9px;
    top: 65%;
    font-size: 11px;
  }

  .main_con {
    position: relative;
    position: absolute;
    right: 3px;
    top: 9px;
    height: 300px;
  }

  #ul {
    display: flex;
    gap: 19px;
    color: white;
    list-style: none;
    position: absolute;
    right: 2px;
    margin-top: 13px;
    cursor: pointer;
  }


  #option {
    display: none;
    color: white;
    list-style: none;
    position: absolute;
    right: 0px;
    top: 0%;
    background-color: rgb(1, 3, 29);
    width: 180px;
    border-radius: 9px;
    /* margin-top: 56px; */
  }

  .li {
    position: relative;
    height: 100%;
    margin-top: 9%;
    margin-bottom: 9px;
    padding-left: 12%;
    cursor: pointer;
  }

  .li:hover {
    background-color: rgb(230, 227, 227);
    color: rgb(80, 80, 80);
  }



  .main_con:hover #option {
    display: block;
  }

  #text {
    color: green;
    text-align: center;
    text-shadow: 0.9px 0.9px 0.3px black;
    font-family: arial black;
    margin-top: 5%;
  }

  .main_body {
    display: flex;
    /* Sab kuch horizontal karne ke liye */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* Agar screen choti ho toh items niche aa jayein */
    gap: 20px;
    /* Items ke beech ka gap */
    padding: 20px;
  }

  .item_contan {
    height: 440px;
    width: 300px;
    margin-top: 9px;
    background-color: #ffffff;
    border: 0.9px solid rgb(255, 255, 255);
    box-shadow: 0.3px 0.3px 9px rgb(0, 0, 0);
    border-radius: 9px;
  }

  .item_contan:hover {
    background-color: #ebebeb;
    border: 0.9px solid rgb(255, 255, 255);
    box-shadow: 0.3px 0.3px 9px rgb(0, 0, 0);
    border-radius: 9px;
  }

  .imageDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #image {
    height: 230px;
    position: relative;
    display: inline;
  }

  #name {
    border-radius: 9px;
    font-family: arial black;
    margin-left: 9px;
  }

  #nameM {
    color: #01001d;
  }

  #price {
    border-radius: 9px;
    font-family: arial black;
    margin-left: 9px;
    color: #008a1e;

    animation-name: price;
    animation-duration: 2s;
    animation-iteration-count: infinite;

  }

  @keyframes price {
    0% {
      font-size: 15px;
      color: green;

    }

    50% {
      font-size: 15.5px;
      color: yellow;
    }

    100% {
      font-size: 16px;
      color: red;

    }
  }

  #desc {
    margin-left: 9px;

  }

  #keyS {
    margin-left: 9px;

  }

  #des {
    color: red;
  }

  #front {
    width: 100%;
    height: 50vh;
    margin-top: 65px;
    opacity: 1;
  }

  #emi {
    font-family: arial black;
    margin-left: 0px;
    color: #01001d;
    font-size: 19px;
  }



  .imageTitleDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #imageTitle {
    color: white;
    position: absolute;
    top: 20%;
    z-index: 100;
    font-family: arial black;
    font-size: 35px;
    text-shadow: 6px 6px 6px black;
  }

  #imageTitle2 {
    text-shadow: 6px 6px 6px black;
    font-size: 20px;
    font-family: arial black;
    color: white;
    position: absolute;
    top: 26%;
    z-index: 100;
  }

  .imagep {
    text-shadow: 6px 6px 6px black;
    font-size: 9px;
    font-family: arial black;
    color: white;
    position: absolute;
    top: 30%;
    z-index: 100;
  }

  .imagepp {
    text-shadow: 6px 6px 6px black;
    font-size: 9px;
    font-family: arial black;
    color: white;
    position: absolute;
    top: 32%;
    z-index: 100;
  }

  .btn {
    font-size: 18px;
    font-family: arial black;
    color: white;
    position: absolute;
    top: 40%;
    z-index: 100;
    background-color: green;
    border-radius: 99px;
    height: 30px;
    width: auto;
    padding-top: 7px;
    padding-left: 9px;
    padding-right: 9px;

  }

  hr {}

}